jax>=0.3.4
# "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_releases.html  # Note: wheels only available on linux.
numpy>=1.21
flax>=0.4
matplotlib>=3.5
tensorflow>=2.8
tensorflow-datasets>=4.5
optax>=0.1.1
tree-math>=0.1
git+https://github.com/GeoffNN/long-range-arena.git